[run]
omit =
    tests/*
    */__pycache__/*
    */coverage/*
    */node_modules/*
    venv/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
